@import '@/style/colors.scss';
@import '@/style/mixins.scss';
.form {
  &__head {
    display: flex;
    align-items: start;
    gap: 12px;
    &__title {
      font-family: 'Gilroy-Bold';
      font-size: 20px;
      line-height: 20px;
    }
  }
  &__visible {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 24px;
    &__item {
      display: flex;
      align-items: center;
      gap: 8px;
      &__label {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  &__notvisible {
    display: none;
  }
}
