@import '@/style/colors.scss';
.cart {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 334px;
  &__number {
    width: 72px;
    text-align: center;
    background-color: $green;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    padding: 17px 0;
    color: $white;
    border-radius: 36px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    &__head {
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      font-family: 'Gilroy-Bold';
    }
    &__text {
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0.02em;
    }
  }
}
@media screen and (max-width: 685px) {
  .cart {
    flex-direction: row;
    width: auto;
    gap: 16px;
    &__number {
      font-size: 16px;
      line-height: 16px;
      width: 32px;
      height: fit-content;
      padding: 8px 0;
    }
    &__info {
      width: 290px;
      gap: 4px;
      &__head {
        font-size: 16px;
        line-height: 24px;
      }
      &__text {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .cart {
    &__info {
      width: 230px;
    }
  }
}
