$green: #588068;
$white: #fff;
.question {
  padding: 100px 0px;
  background-color: $green;
  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    &__info {
      color: $white;
    }
  }
}
