@import '@/style/colors.scss';
@import '@/style/mixins.scss';
.blog {
  margin-bottom: 158px;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 80px;
    &__part {
      display: flex;
      flex-direction: column;
      gap: 33px;
      &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__title {
          font-size: 32px;
          line-height: 36px;
          font-family: 'Gilroy-Bold';
        }
        &__link {
          display: flex;
          align-items: center;
          gap: 8px;
          &__text {
            font-family: 'Gilroy-Bold';
            font-size: 16px;
            font-weight: 900;
            line-height: 24px;
            color: $green;
          }
          &__arrow {
            width: 10px;
            height: auto;
          }
        }
      }
      &__questions {
        display: flex;
        justify-content: space-between;
        gap: 24px;
      }
      &__main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
  &__all {
    margin: 0 auto;
    @include link-green;
  }
}
@media screen and (max-width: 1232px) {
  .blog {
    &__content {
      gap: 60px;
      &__part {
        &__head {
          &__title {
            font-size: 20px;
            line-height: 24px;
          }
        }
        &__questions {
          &__item {
            &_max {
              display: none;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 826px) {
  .blog {
    &__content {
      &__part {
        &__main {
          justify-content: space-around;
        }
      }
    }
  }
}
