@import '@/style/colors.scss';
@import '@/style/mixins.scss';
.header {
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: $white;
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 1232px;
    margin: 0 auto;
  }
  &__logo {
    display: inline-flex;
    align-items: center;
    &__main {
      background-color: #4e855c;
      width: 56px;
      height: 56px;
      text-align: center;
      border-radius: 28px;
      margin-right: 10px;
      &__head {
        color: #fff;
        font-size: 17px;
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
        font-weight: 900;
        font-family: Gilroy-ExtraBold;
        letter-spacing: 1px;
      }
    }
    &__title {
      font-size: 18px;
      font-weight: 900;
      font-family: Gilroy-ExtraBold;
    }
    &__subtitle {
      font-size: 12px;
      font-weight: 500;
      line-height: 8px;
      letter-spacing: 0.01em;
      color: #7c7c7c;
    }
  }
  &__nav {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 24px;
    &__link {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
    }
  }
  &__button {
    @include link-sheer-green;
  }
  &__burger {
    border: none;
    background-color: #fff;
    display: none;
  }
}

@media screen and (max-width: 1232px) {
  .header {
    padding: 8px 16px;
    &__container {
      width: auto;
    }
    &__nav {
      display: none;
    }
    &__button {
      display: none;
    }
    &__burger {
      display: inline-block;
    }
  }
}
