@import '@/style/colors.scss';
.none {
  display: none;
}
.block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 215px;
  &__head {
    display: flex;
    align-items: center;
    gap: 12px;
    &__title {
      font-size: 20px;
      font-family: 'Gilroy-Bold';
      line-height: 24px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    &__item {
      padding: 4px 16px;
      border-radius: 50px;
      background-color: $white;
      border: 1px solid $grey_line;
      &_active {
        padding: 4px 16px;
        border-radius: 50px;
        background-color: $green_10;
        color: $green;
        border: 1px solid $green;
      }
    }
  }
}
