@import '@/style/colors.scss';
@mixin tag {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 8px 24px;
  border: 3px solid $black;
  border-radius: 30px;
  width: fit-content;
  text-align: center;
  @media screen and (max-width: 590px) {
    padding: 4px 6px;
    font-size: 10px;
  }
}
.selection {
  width: 1232px;
  margin: 0 auto;
  &__head {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 80px;
    &_green {
      color: $green;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    &__info {
      max-width: 592px;
      &__title {
        font-size: 32px;
        font-family: 'Gilroy-Bold';
        line-height: 36px;
        margin-bottom: 48px;
        margin-top: 25px;
      }
      &__list {
        display: flex;
        flex-direction: column;
        gap: 40px;
      }
    }
  }
}
.pics {
  background-image: url('/img/pages/about/Selection/pics/selection-team.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 540px;
  height: 680px;
  position: relative;
  &_0 {
    border-radius: 100px;
    object-fit: cover;
    position: relative;
    border: 4px solid $green_30;
    width: 156px;
    height: 156px;
    top: -11px;
    left: 0px;
  }
  &_1 {
    border-radius: 100px;
    object-fit: cover;
    position: relative;
    border: 4px solid $green_30;
    width: 120px;
    height: 120px;
    top: -47px;
    left: 264px;
  }
  &_2 {
    border-radius: 100px;
    object-fit: cover;
    position: relative;
    border: 4px solid $yellow_30;
    width: 168px;
    height: 168px;
    top: 145px;
    left: -97px;
  }
  &_3 {
    border-radius: 100px;
    object-fit: cover;
    position: relative;
    border: 4px solid $blue_30;
    width: 129px;
    height: 129px;
    top: 37px;
    left: 14px;
  }
  &_4 {
    border-radius: 100px;
    object-fit: cover;
    position: relative;
    border: 4px solid $blue_30;
    width: 173px;
    height: 173px;
    top: 65px;
    left: 238px;
  }
  &_5 {
    border-radius: 100px;
    object-fit: cover;
    position: relative;
    border: 4px solid $green_30;
    width: 193px;
    height: 193px;
    top: 190px;
    left: -128px;
  }
  &_6 {
    border-radius: 100px;
    object-fit: cover;
    position: relative;
    border: 4px solid $blue_30;
    width: 163px;
    height: 163px;
    top: 148px;
    left: 0px;
  }
  &_7 {
    border-radius: 100px;
    object-fit: cover;
    position: relative;
    border: 4px solid $yellow_30;
    width: 134px;
    height: 134px;
    top: 148px;
    left: 244px;
  }
  &__desctop {
    width: 540px;
    height: 680px;
  }
  &__mob {
    display: none;
  }
}
@media screen and (max-width: 1268px) {
  .selection {
    width: 100%;
    padding: 0 16px;
    &__head {
      margin-bottom: 32px;
      font-size: 24px;
      line-height: 28px;
      &_green {
        display: inline;
      }
    }
    &__content {
      flex-direction: column-reverse;
      align-items: center;
      gap: 32px;
      &__info {
        &__title {
          margin-top: 0;
          margin-bottom: 24px;
          font-size: 16px;
        }
        &__list {
          gap: 24px;
        }
      }
    }
  }
}
@media screen and (max-width: 590px) {
  .pics {
    display: block;
    width: 100%;
    &__desctop {
      display: none;
    }
    &__mob {
      // display: block;
      width: 100%;
      height: auto;
    }
  }
}
@media screen and (max-width: 575px) {
  .pics {
    width: 320px;
    height: 415px;
    background-repeat: no-repeat;
    &_0 {
      width: 93px;
      height: 93px;
      border: 2px solid $green_30;
      top: -7px;
      left: 0px;
    }
    &_1 {
      width: 73px;
      height: 73px;
      border: 2px solid $green_30;
      top: -27px;
      left: 155px;
    }
    &_2 {
      border: 2px solid $yellow_30;
      width: 100px;
      height: 100px;
      top: 86px;
      left: -61px;
    }
    &_3 {
      border: 2px solid $blue_30;
      width: 80px;
      height: 80px;
      top: 17px;
      left: 5px;
    }
    &_4 {
      border: 2px solid $blue_30;
      width: 110px;
      height: 110px;
      top: 37px;
      left: 134px;
    }
    &_5 {
      border: 2px solid $green_30;
      width: 120px;
      height: 120px;
      top: 110px;
      left: -90px;
    }
    &_6 {
      border: 2px solid $blue_30;
      width: 100px;
      height: 100px;
      top: 77px;
      left: 0px;
    }
    &_7 {
      border: 2px solid $yellow_30;
      width: 85px;
      height: 85px;
      top: 77px;
      left: 140px;
    }
  }
}
