@import '@/style/colors.scss';
@import '@/style/mixins.scss';

.ru {
  display: flex;
  flex-direction: column;
  gap: 24px;
  &__head {
    font-family: 'Gilroy-Bold';
    font-size: 32px;
    line-height: 36px;
  }
  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
  }
  &__img {
    width: 394px;
    height: 436px;
  }
}

@media screen and (max-width: 768px) {
  .ru {
    gap: 16px;
    &__head {
      font-size: 20px;
      line-height: 24px;
    }
    &__text {
      font-size: 14px;
      line-height: 24px;
    }
    &__img {
      width: 247px;
      height: 273px;
    }
  }
}
