@import '@/style/colors.scss';
.none {
  display: none;
}
.params {
  padding-top: 108px;
  width: 290px;
  &__head {
    font-size: 24px;
    font-family: 'Gilroy-Bold';
    line-height: 28px;
    margin-bottom: 40px;
  }
  &__set {
    display: flex;
    flex-direction: column;
    gap: 32px;
    &__block {
      &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
      }
      &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }
}
@media screen and (max-width: 1264px) {
  .params {
    width: fit-content;
  }
}
@media screen and (max-width: 1100px) {
  .params {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .params {
    display: none;
  }
}
