@import '@/style/colors.scss';
@import '@/style/mixins.scss';
.team {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__center {
    text-align: center;
  }
  &__all {
    @include link-green;
    margin: 0 auto;
  }
}
