@import '@/style/colors.scss';
@import '@/style/mixins.scss';
.introduction {
  padding-top: 215px;
  padding-bottom: 90px;
  &__container {
    width: 765px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    &__bg {
      display: none;
    }
    &__head {
      font-size: 56px;
      font-weight: 900;
      line-height: 64px;
      width: 570px;
      margin-bottom: 45px;
      font-family: Gilroy-ExtraBold;
      &_green {
        color: $green;
        font-family: Gilroy-ExtraBold;
      }
    }
    &__description {
      font-size: 20px;
      font-weight: 900;
      line-height: 28px;
      width: 760px;
      // font-family: Gilroy-ExtraBold;
    }
    &__buttons {
      display: flex;
      gap: 10px;
    }
  }
}
.btn {
  &_green {
    @include link-green;
  }
  &_tg {
    @include link-tg-green;
    &:hover {
      .btn_tg__icon {
        background-image: url('/tg-hover.svg');
      }
      .btn_tg__text {
        color: $white;
      }
    }
    &__icon {
      @include link-tg-icon;
    }
    &__text {
      @include link-tg-text;
    }
  }
}
@media screen and (max-width: 1232px) {
  .introduction {
    padding-top: 80px;
    padding-bottom: 70px;
    &__container {
      width: auto;
      gap: 32px;
      &__bg {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 29px;
      }
      &__head {
        width: 270px;
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 16px;
      }
      &__description {
        width: auto;
        line-height: 24px;
        font-size: 16px;
      }
      &__buttons {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }
}
