.introduction {
  padding-top: 160px;
  padding-bottom: 230px;
  &__wrapper {
    width: 1232px;
    margin: 0 auto;
  }
  &__container {
    width: 765px;
    display: inline-flex;
    flex-direction: column;
    gap: 60px;
    &__bg {
      display: none;
    }
    &__head {
      font-size: 56px;
      font-weight: 900;
      line-height: 64px;
      color: #041f0f;
      width: 570px;
      margin-bottom: 40px;
      &_green {
        color: #4e855c;
      }
    }
    &__description {
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      color: #041f0f;
      width: 670px;
    }
    &__buttons {
      display: inline-flex;
      gap: 60px;
    }
  }
}
@media screen and (max-width: 1232px) {
  .introduction {
    padding-top: 80px;
    padding-bottom: 70px;
    &__container {
      width: auto;
      gap: 32px;
      &__bg {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 29px;
      }
      &__head {
        width: 270px;
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 16px;
      }
      &__description {
        width: auto;
        line-height: 24px;
        font-size: 16px;
      }
      &__buttons {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }
}
