@import '@/style/colors.scss';
@import '@/style/mixins.scss';
.tariff {
  background-image: url('/img/pages/main/Tariff/wavenew.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 75%;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 20px;
    &__options {
      display: flex;
      gap: 60px;
      &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 8px;
        &__item {
          @include button-sheer;
          &_active {
            @include button-sheer-active;
          }
        }
      }
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__btn {
    @include link-green;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1232px) {
  .tariff {
    background-image: none;
    &__container {
      &__options {
        flex-direction: column;
        gap: 8px;
        &__list {
          justify-content: flex-start;
          gap: 8px;
        }
      }
      &__btn {
        display: none;
      }
    }
    &__list {
      column-gap: 16px;
      row-gap: 40px;
    }
  }
}
