.tariff {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    &__options {
      display: flex;
      gap: 60px;
      &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
    &__btn {
      text-align: center;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (max-width: 1232px) {
  .tariff {
    &__container {
      &__options {
        flex-direction: column;
        gap: 8px;
        &__list {
          justify-content: flex-start;
          gap: 8px;
        }
      }
      &__btn {
        display: none;
      }
    }
    &__list {
      column-gap: 16px;
      row-gap: 40px;
    }
  }
}
