$gray: #7c7c7c;
$yellow: #dd8e53;
$white: #fff;
.tariff {
  &__cart {
    background-color: $white;
    position: relative;
    padding: 32px;
    box-shadow: 0px 0px 5px 0px #1d304e26;
    border-radius: 20px;
    width: 290px;

    background-repeat: no-repeat;
    background-position: 110% 115%;

    &:hover {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
    }
    // overflow: hidden;
    &_1 {
      background-image: url('/img/pages/ui/Tariff/elgreen.svg'),
        url('/img/pages/ui/Tariff/ellightgreen.svg');
    }
    &_4 {
      background-image: url('/img/pages/ui/Tariff/elblue.svg'),
        url('/img/pages/ui/Tariff/ellightblue.svg');
      background-position: 105% 105%;
    }
    &_8 {
      background-image: url('/img/pages/ui/Tariff/elyellow.svg'),
        url('/img/pages/ui/Tariff/ellightyellow.svg');
      background-position: 105% 105%;
    }
    &_12 {
      background-image: url('/img/pages/ui/Tariff/elpink.svg'),
        url('/img/pages/ui/Tariff/ellightpink.svg');
      background-position: 105% 105%;
    }
    &__types {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: $gray;
    }
    &__quantity {
      font-size: 32px;
      font-weight: 700;
      line-height: 36px;
      margin-bottom: 76px;
      font-family: Gilroy-ExtraBold;

      &:last-child {
        margin-bottom: 0;
      }
      &_sale {
        font-size: 32px;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 52px;
        font-family: 'Gilroy-Bold';
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &__sale {
      position: absolute;
      z-index: 3;
      left: 201px;
      bottom: 205px;
      background-color: $yellow;
      width: 64px;
      height: 64px;
      border-radius: 32px;
      text-align: center;
      &__info {
        position: relative;
        top: 20px;
        color: $white;
        font-weight: 500;
        font-size: 18px;
        font-family: 'Gilroy-Bold';
      }
    }
    &__circle {
      position: relative;
      top: -50px;
      background-color: #dd8e53;
      width: 20px;
      height: 20px;
    }
  }
}
@media screen and (max-width: 768px) {
  .tariff {
    &__cart {
      width: 156px;
      padding: 20px;
      padding-top: 15px;
      padding-bottom: 15px;
      &_1 {
        background-position: 105% 105%;
        background-size: 40px, 50px;
      }
      &_4 {
        background-position: 105% 105%;
        background-size: 40px, 50px;
      }
      &_8 {
        background-position: 105% 105%;
        background-size: 40px, 50px;
      }
      &_12 {
        background-position: 105% 105%;
        background-size: 40px, 50px;
      }
      &__types {
        line-height: 18px;
      }
      &__quantity {
        font-size: 20px;
        margin-bottom: 28px;
        line-height: 32px;
        &_sale {
          line-height: 32px;
          font-size: 20px;
          margin-bottom: 12px;
        }
      }
      &__types {
        font-size: 12px;
      }
      &__sale {
        width: 48px;
        height: 48px;
        bottom: 120px;
        left: 95px;
        &__info {
          top: 15px;
        }
      }
    }
  }
}
