.team {
  padding-top: 135px;
  padding-bottom: 100px;
  &__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    &__content {
      margin-bottom: 40px;
      &__head {
        font-family: 'Gilroy-Bold';
        font-size: 48px;
        line-height: 56px;
        &_mob {
          display: none;
        }
      }
    }
  }
}
.dynamic {
  padding-top: 140px;
  padding-bottom: 100px;
  &__container {
    width: 812px;
    margin: 0 auto;
    &__head {
      font-size: 32px;
      font-weight: 700;
      line-height: 36px;
      margin-top: 100px;
      margin-bottom: 40px;
    }
    &__about {
      display: flex;
      flex-direction: column;
      gap: 48px;
    }
  }
}
@media screen and (max-width: 1268px) {
  .team {
    padding-top: 105px;
  }
}
@media screen and (max-width: 1100px) {
  .team {
    &__main {
      display: block;
      &__content {
        &__head {
          display: none;
          &_mob {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__title {
              font-family: 'Gilroy-Bold';
              font-size: 48px;
              line-height: 56px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 844px) {
  .dynamic {
    padding-top: 140px;
    padding-bottom: 24px;
    &__container {
      width: 100%;
      padding-left: 16px;
      padding-right: 16px;
      &__head {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 24px;
      }
      &__about {
        gap: 32px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .team {
    padding-top: 80px;
    padding-bottom: 60px;
    width: 100%;
    &__main {
      display: block;
      &__content {
        &__head {
          &_mob {
            &__title {
              font-family: 'Gilroy-Bold';
              font-size: 32px;
              line-height: 36px;
            }
          }
        }
      }
    }
  }
}
