.about {
  padding-top: 140px;
  padding-bottom: 100px;
  &__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    &__content {
      margin-bottom: 40px;
    }
  }
}
.dynamic {
  padding-top: 140px;
  &__container {
    width: 812px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1232px) {
  .about {
    padding-top: 105px;
  }
}
