@import '@/style/colors.scss';

.found {
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 130px;
  }
}
@media screen and (max-width: 900px) {
  .found {
    &__content {
      display: none;
    }
  }
}
