@import '@/style/colors.scss';
.tariff {
  padding-top: 20px;
  padding-bottom: 60px;
  border-bottom: 1px solid $green_light;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 24px;
  &:last-child {
    border-bottom: none;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    &__head {
      font-size: 40px;
      font-family: 'Gilroy-Bold';
      line-height: 48px;
    }
    &__btns {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      &__item {
        font-size: 20px;
        font-weight: 900;
        padding: 12px 24px;
        background-color: $white;
        border-radius: 30px;
        border: 1px solid $grey;
        &_active {
          font-size: 20px;
          font-weight: 900;
          padding: 12px 24px;
          background-color: $green_10;
          border-radius: 30px;
          border: 2px solid $green;
        }
      }
    }
    &__bullet {
      display: flex;
      flex-direction: column;
      gap: 20px;
      &__item {
        font-size: 20px;
        font-weight: 900;
        line-height: 28px;
        list-style: outside;
        list-style: none;
        list-style-type: none;
        &::before {
          list-style: none;
          list-style-type: none;
          content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
          color: $green; /* Change the color */
          font-weight: bold; /* If you want it to be bold */
          display: inline-block; /* Needed to add space between the bullet and the text */
          width: 1em; /* Also needed for space (tweak if needed) */
        }
      }
    }
    &__req {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      color: $white;

      border: none;
      background-color: $green;
      width: fit-content;
      border-radius: 50px;
      padding: 12px 59px;
      cursor: pointer;
      &_mobile {
        display: none;
      }
    }
  }
  &__carts {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    max-width: 604px;
  }
}
@media screen and (max-width: 1232px) {
  .tariff {
    &__carts {
      max-width: 340px;
    }
  }
}
@media screen and (max-width: 845px) {
  .tariff {
    flex-direction: column;
    align-items: center;
    &__info {
      gap: 16px;
      &__head {
        font-size: 24px;
        line-height: 28px;
      }
      &__bullet {
        gap: 12px;
        &__item {
          font-size: 16px;
          line-height: 24px;
        }
      }
      &__btns {
        &__item {
          font-size: 16px;
          padding: 8px 12px;
          &_active {
            font-size: 16px;
            padding: 8px 12px;
          }
        }
      }
      &__req {
        display: none;
        &_mobile {
          display: block;
          margin-top: 24px;

          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          color: $white;

          border: none;
          background-color: $green;
          width: fit-content;
          border-radius: 50px;
          padding: 12px 59px;
        }
      }
    }
    &__carts {
      margin-top: 36px;
    }
  }
}
@media screen and (max-width: 768px) {
  .tariff {
    &__info {
      &__btns {
        &__item {
          padding: 6px 10px;
          &_active {
            padding: 6px 10px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 380px) {
  .tariff {
    &__carts {
      column-gap: 16px;
      row-gap: 36px;
      justify-content: space-around;
    }
  }
}
