@import '@/style/colors.scss';
.for {
  padding-top: 135px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 160px;
}
@media screen and (max-width: 690px) {
  .for {
    gap: 60px;
    padding-top: 80px;
    padding-bottom: 60px;
  }
}
