@font-face {
  font-family: Gilroy;
  src: url('../../public/fonts/Gilroy-Light.otf');
}

$green: #4e855c;
$green_75: #7aa485;
$green_light: #cdd9d2;
$black: #041f0f;
$grey: #cbcbcb;
$blue_75: #6899ca;

@mixin button {
  padding: 18px 32px 18px 32px;
  border-radius: 32px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  width: fit-content;
  @media screen and (max-width: 1232px) {
    width: 100%;
    font-size: 16px;
  }
}
@mixin button-hover-tg {
  padding: 10px 32px 10px 13px;
  border-radius: 32px;
  border: 2px solid $green;
  background-color: #fff;
  color: $green;
  font-size: 20px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  gap: 16px;
  &:hover {
    background-color: $green;
    color: #fff;
  }
  @media screen and (max-width: 1232px) {
    width: auto;
    justify-content: center;
    font-size: 16px;
  }
}
@mixin button-white {
  padding: 18px 32px;
  border-radius: 32px;
  background: #fff;
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  @media screen and (max-width: 1232px) {
    width: 100%;
    font-size: 16px;
  }
}
@mixin button_sheer {
  padding: 15px 24px 15px 24px;
  border-radius: 30px;
  border: 1px solid $grey;
  background-color: #fff;
  font-size: 20px;
  font-weight: 500;
  @media screen and (max-width: 1232px) {
    padding: 8px 12px;
    font-size: 16px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
  font-family: Gilroy;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1232px;
  margin: 0 auto;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 60px;
  &__head {
    &__title {
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      text-align: center;
    }
    &__subtitle {
      font-size: 24px;
      font-weight: 500;
      line-height: 36px;
      text-align: center;
    }
  }
}

.flex {
  display: flex;
}
.flex_wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex_wrap_align-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.flex_wrap_spacebetween {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gap-104 {
  gap: 104px;
}
.gap-16 {
  gap: 16px;
}
.gap-8 {
  gap: 8px;
}
.gap-4 {
  gap: 4px;
}

.button {
  &_green {
    @include button;
    background-color: $green;
  }
  &_hover {
    &_tg {
      @include button-hover-tg();
    }
  }
  &_sheer {
    @include button_sheer;
    &_active {
      @include button_sheer;
      background-color: $green_light;
      border: 2px solid $green;
    }
  }
  &_white {
    &_green {
      @include button-white();
      color: $green;
      &:hover {
        background-color: $green;
        color: #fff;
      }
    }
    &_blue {
      @include button-white();
      color: $blue_75;
      &:hover {
        background-color: $blue_75;
        color: #fff;
      }
    }
  }
}
.margin-0-auto {
  margin: 0 auto;
}

@media screen and (max-width: 1232px) {
  .container {
    width: 100%;
  }
  .section {
    gap: 24px;
    &__head {
      &__title {
        font-size: 24px;
        line-height: 28px;
      }
      &__subtitle {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
