@import '@/style/colors.scss';
.certificate {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $green;
  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__info {
      width: 509px;
      &__head {
        font-size: 48px;
        font-family: 'Gilroy-Bold';
        line-height: 56px;
        color: $white;
        margin-bottom: 32px;
      }
      &__text {
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        color: $white;
        margin-bottom: 40px;
      }
      &__btn {
        background-color: $white;
        color: $green;
        border-radius: 50px;
        border: none;
        padding: 12px 32px;

        font-size: 20px;
        font-weight: 700;
        &_mobile {
          display: none;
        }
      }
    }
    &__cart {
      padding: 40px;
      background-color: $white;
      border-radius: 20px;
      background-image: url('/img/pages/tariff/cart-bg.png');
      background-repeat: no-repeat;
      background-position: right bottom;
      width: 604px;
      &__mobile {
        display: none;
      }
      &__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        &__title {
          font-size: 40px;
          font-family: 'Gilroy-Bold';
          line-height: 48px;
        }
      }
      &__price {
        color: $green;
        font-size: 48px;
        font-family: 'Gilroy-Bold';
        line-height: 56px;
      }
      &__sessions {
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        margin-bottom: 70px;
      }
      &__promo {
        display: flex;
        gap: 16px;
        &__title {
          font-size: 24px;
          font-weight: 900;
          line-height: 36px;
        }
        &__code {
          border: none;
          background-color: $green_2_bg;
          border-radius: 10px;
          padding: 4px 12px;
          width: 144px;
          font-size: 24px;
          font-weight: 500;
          letter-spacing: 0.04em;
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .certificate {
    &__content {
      flex-direction: column;
      align-items: center;
      &__info {
        width: auto;
        text-align: center;
        &__btn {
          display: none;
          &_mobile {
            display: block;
            background-color: $white;
            color: $green;
            border-radius: 50px;
            border: none;
            padding: 12px 32px;

            font-size: 20px;
            font-weight: 700;
            margin: 0 auto;
            margin-top: 32px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 655px) {
  .certificate {
    padding-top: 60px;
    padding-bottom: 60px;
    &__content {
      &__info {
        &__head {
          font-size: 32px;
          font-weight: 700;
          line-height: 36px;
          margin-bottom: 24px;
        }
        &__text {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          margin-bottom: 32px;
        }
        &__btn {
          &_mobile {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
          }
        }
      }
      &__cart {
        width: auto;
        padding: 25px;
        background-size: 30%;
        &__head {
          &__title {
            font-size: 36px;
            line-height: 36px;
          }
        }
        &__price {
          font-size: 36px;
          line-height: 40px;
        }
        &__sessions {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 60px;
        }
        &__promo {
          &__title {
            font-size: 16px;
          }
          &__code {
            font-size: 16px;
            width: 104px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 475px) {
  .certificate {
    &__content {
      &__cart {
        display: none;
        &__mobile {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
