@import '@/style/colors.scss';
@import '@/style/mixins.scss';
.gen {
  &__head {
    font-family: 'Gilroy-Bold';
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 23px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 33px;
    &__text {
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
    }
    &__ol {
      &__li {
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        &_link {
          text-decoration: underline;
          text-underline-offset: 5px;
        }
      }
    }
  }
}
