@import '@/style/colors.scss';
@import '@/style/mixins.scss';

.cover {
  display: flex;
  flex-direction: column;
  gap: 67px;
  margin-bottom: 125px;
  &__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    // margin-bottom: 60px;
    &__info {
      width: 652px;
      &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 35px;
        &__item {
          font-size: 16px;
          font-weight: 900;
          line-height: 24px;
          text-align: center;
          border: 1px solid $green;
          border-radius: 50px;
          padding: 8px 16px;
        }
      }
      &__head {
        font-family: 'Gilroy-Bold';
        font-size: 56px;
        line-height: 64px;
        letter-spacing: 0.01em;
        margin-bottom: 45px;
      }
      &__description {
        font-size: 24px;
        font-weight: 900;
        line-height: 36px;
        letter-spacing: 0.01em;
        margin-bottom: 60px;
      }
      &__link {
        @include link-green;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.03em;
        text-align: center;
      }
    }
    &__img {
      width: 420px;
      height: 640px;
      border-radius: 20px;
      &_mob {
        display: none;
      }
    }
  }
  &__detail {
    display: flex;
    justify-content: space-between;
    &__item {
      width: 290px;
      &__title {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        font-weight: 900;
      }
      &__info {
        font-family: 'Gilroy-Bold';
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
      }
    }
  }
}

@media screen and (max-width: 1110px) {
  .cover {
    &__main {
      flex-direction: column;
      &__info {
        width: 100%;
        &__link {
          width: 100%;
        }
      }
      &__img {
        display: none;
        &_mob {
          display: block;
          width: 100%;
          height: auto;
          margin-bottom: 32px;
        }
      }
    }
    &__detail {
      flex-wrap: wrap;
      row-gap: 17px;
    }
  }
}

@media screen and (max-width: 768px) {
  .cover {
    gap: 32px;
    &__main {
      &__info {
        &__tags {
          margin-bottom: 16px;
          &__item {
            font-size: 12px;
            font-weight: 500;
            line-height: 22px;
            padding: 0 12px;
          }
        }
        &__head {
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 16px;
        }
        &__description {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 32px;
        }
        &__link {
          font-size: 16px;
          line-height: 16px;
          letter-spacing: 0.03em;
        }
      }
    }
    &__detail {
      &__item {
        width: 152px;
        &__title {
          font-size: 14px;
          font-weight: 500;
          line-height: 14px;
          letter-spacing: 0.02em;
          margin-bottom: 6px;
        }
        &__info {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }
}
