@import '../../../../../../style/colors.scss';
.slider {
  display: none;
  padding: 0 16px;
}
.dots {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 24px;
  &__item {
    background-color: $green_30;
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 5px;
    &_active {
      background-color: $green;
    }
  }
}
@media screen and (max-width: 900px) {
  .slider {
    display: block;
  }
}
