@import '@/style/colors.scss';
@import '@/style/mixins.scss';
.ben {
  &__head {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.01em;
    text-align: center;
    width: 725px;
    font-family: 'Gilroy-Bold';
    margin: 0 auto;
    margin-bottom: 80px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 160px;
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &_right {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__info {
        width: 524px;
        &__head {
          font-size: 32px;
          font-weight: 700;
          line-height: 36px;
          margin-bottom: 40px;
          font-family: 'Gilroy-Bold';
        }
        &__subhead {
          font-size: 20px;
          font-weight: 700;
          line-height: 24px;
          margin-bottom: 24px;
          font-family: 'Gilroy-Bold';
        }
        &__bullet {
          display: flex;
          flex-direction: column;
          gap: 12px;
          &__el {
            display: flex;
            gap: 12px;
            &__point {
              margin-top: 10px;
            }
            &__text {
              font-size: 20px;
              font-weight: 900;
              line-height: 28px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .ben {
    &__list {
      &__item {
        flex-direction: column;
        gap: 24px;
        &_right {
          flex-direction: column-reverse;
          gap: 24px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .ben {
    &__head {
      margin-bottom: 24px;
      font-size: 24px;
      line-height: 24px;
      width: 100%;
    }
    &__list {
      gap: 60px;
      &__item {
        &__img {
          width: 100%;
          height: auto;
          &_480 {
            width: 100%;
            height: auto;
          }
        }
        &__info {
          width: 100%;
          &__head {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 24px;
          }
          &__subhead {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 16px;
          }
          &__bullet {
            &__el {
              &__point {
                margin-top: 8px;
              }
              &__text {
                font-size: 16px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
}
