@import '@/style/colors.scss';
.tariff {
  padding-top: 140px;
  &__head {
    font-size: 48px;
    font-family: 'Gilroy-Bold';
    line-height: 56px;
    margin-bottom: 8px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
}
@media screen and (max-width: 768px) {
  .tariff {
    padding-top: 78px;
    &__head {
      font-size: 32px;
      font-family: 'Gilroy-Bold';
      line-height: 35px;
      margin-bottom: 5px;
    }
  }
}
