//global
@import '../src/app/style/colors.scss';
.main {
  &_flex {
    display: flex;
    flex-direction: column;
    gap: 160px;
  }
  &__banner {
    padding: 72px 121px;
    background-color: $beige;
    width: 1232px;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    &__text {
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      text-align: center;
      color: $white;
      margin-bottom: 40px;
    }
    &__link {
      color: $beige;
      background-color: $white;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      padding: 18px 32px;
      border-radius: 32px;
    }
  }
}
.container {
  width: 1232px;
  margin: 0 auto;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 60px;
  &__head {
    &__title {
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      text-align: center;
    }
    &__subtitle {
      font-size: 24px;
      font-weight: 500;
      line-height: 36px;
      text-align: center;
    }
  }
}
.flex {
  display: flex;
  &_wrap {
    display: flex;
    flex-wrap: wrap;
    &_spacebetween {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &_spacearound {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  &_direct-column {
    display: flex;
    flex-direction: column;
  }
}

.button {
  &_hover {
    border: 2px solid #4e855c;
    border-radius: 32px;
    padding: 8px 32px 8px 8px;
    background-color: #fff;
    color: #4e855c;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    &:hover {
      background-color: #4e855c;
      color: #fff;
    }
    &__tg {
      background-color: #4e855c;
      padding: 10px 10px 7px 9px;
      border-radius: 20px;
      margin-right: 16px;
      &__icon {
        width: 21px;
      }
    }
  }
}

@media screen and (max-width: 1232px) {
  .main {
    padding-left: 16px;
    padding-right: 16px;
    &_flex {
      gap: 60px;
    }
    &__banner {
      padding: 40px 20px;
      width: auto;
      &__text {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 24px;
      }
      &__link {
        padding: 16px 0px;
        display: block;
        width: 100%;
      }
    }
  }
  .section {
    gap: 24px;
    &__head {
      &__title {
        font-size: 24px;
      }
    }
  }
}
