@import '@/style/colors.scss';

.part {
  padding: 32px;
  border-radius: 20px;
  background-color: $grey-bg;
  display: flex;
  flex-direction: column;
  gap: 24px;
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
      font-family: 'Gilroy-Bold';
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0em;
      &_idx {
        font-family: inherit;
        font-size: inherit;
        margin-right: 6px;
      }
    }
  }
  &__description {
    font-size: 20px;
    font-weight: 900;
    line-height: 32px;
    width: 1088px;
    &_none {
      display: none;
    }
  }
}
@media screen and (max-width: 1140px) {
  .part {
    &__description {
      width: 100%;
    }
  }
}
@media screen and (max-width: 768px) {
  .part {
    padding: 20px;
    gap: 16px;
    &__head {
      &__title {
        font-size: 16px;
        line-height: 20px;
      }
      &__img {
        width: 32px;
        height: 32px;
      }
    }
    &__description {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
