@import '@/style/colors.scss';
@import '@/style/mixins.scss';

.course {
  padding-top: 135px;
  padding-bottom: 100px;
  background-color: $grey_light_bg;
  &__content {
    display: flex;
    justify-content: space-between;
  }
}
