@import '@/style/colors.scss';
.det {
  padding-top: 22px;
  padding-bottom: 100px;
  width: 814px;
  margin: 0 auto;
  &__back {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 40px;
    &__text {
      font-family: 'Gilroy-Bold';
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: $green;
    }
  }
  &__themes {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 22px;
    &__item {
      padding: 7px 16px;
      border-radius: 50px;
      border: 1px solid $green;
      font-size: 16px;
      font-weight: 900;
      line-height: 24px;
    }
  }
  &__head {
    font-family: 'Gilroy-Bold';
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 42px;
  }
  &__img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 22px;
  }
  &__form {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 48px;
    &__img {
      border-radius: 32px;
    }
    &__info {
      &__fio {
        display: flex;
        column-gap: 5px;
        margin-bottom: 8px;
        &__name {
          font-family: 'Gilroy-Bold';
          font-size: 24px;
          line-height: 24px;
        }
      }
      &__status {
        color: $grey_dark;

        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
      }
    }
  }
  &__preview {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 60px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: 'Gilroy-Bold';
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 24px;
    }
    p {
      font-size: 18px;
      font-weight: 900;
      line-height: 32px;
      margin-bottom: 60px;
    }
  }
}

@media screen and (max-width: 846px) {
  .det {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .det {
    padding-top: 16px;
    padding-bottom: 60px;
    &__back {
      margin-bottom: 24px;
    }
    &__themes {
      margin-bottom: 16px;
      gap: 8px;
      &__item {
        font-size: 12px;
        padding: 0 12px;
      }
    }
    &__head {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 22px;
    }
    &__img {
      margin-bottom: 10px;
    }
    &__form {
      margin-bottom: 24px;
      &__img {
        width: 48px;
        height: 48px;
      }
      &__info {
        &__fio {
          &__name {
            font-size: 16px;
            line-height: 16px;
          }
        }
        &__status {
          font-size: 14px;
          line-height: 12px;
          letter-spacing: 0.4px;
        }
      }
    }
    &__preview {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 40px;
    }
    &__content {
      h2 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 16px;
      }
      p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 40px;
      }
    }
  }
}
