$green: #4e855c;
$green_10: #edf3ef;
$green_30: #cadace;
$green_75: #7aa485;
$green_light: #cdd9d2;
$black: #041f0f;
$grey: #cbcbcb;
$grey_dark: #7c7c7c;
$grey_line: #e1e1e1;
$blue_10: #ebf1f8;
$blue_75: #6899ca;
$beige: #d49261;
$white: #fff;
