$green: #4e855c;
$green_10: #edf3ef;
$green_30: #cadace;
$green_75: #7aa485;
$green_light: #cdd9d2;
$green_2_bg: #f5f6f0;
$black: #041f0f;
$grey: #cbcbcb;
$grey-bg: #f7f7f5;
$grey_dark: #7c7c7c;
$grey_line: #e1e1e1;
$grey_light_bg: #fbfbfa;
$grey_no_active: #b0b0b0;
$blue: #3677b8;
$blue_10: #ebf1f8;
$blue_30: #c3d6ea;
$blue_75: #6899ca;
$beige: #d49261;
$white: #fff;
$yellow: #dd8e53;
$yellow_10: #fff6eb;
$yellow_30: #ffe8d4;
$yellow_75: #e5aa7e;
$black: #041f0f;
