@import 'colors.scss';

@font-face {
  font-family: 'Gilroy';
  src: url('../../../public/fonts/Gilroy-Light.otf');
}
@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('../../../public/fonts/Gilroy-ExtraBold.otf');
}
@font-face {
  font-family: 'Gilroy-Regular';
  src: url('/fonts/gilroy-regular.ttf');
}
@font-face {
  font-family: 'Gilroy-Bold';
  src: url('/fonts/gilroy-bold.ttf');
}

@mixin button {
  padding: 12px 32px 12px 32px;
  border-radius: 32px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  width: fit-content;
  @media screen and (max-width: 1232px) {
    width: 100%;
    font-size: 16px;
  }
}
@mixin button-hover-tg {
  padding: 10px 32px 10px 13px;
  border-radius: 32px;
  border: 2px solid $green;
  background-color: #fff;
  color: $green;
  font-size: 20px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  gap: 16px;
  &:hover {
    background-color: $green;
    color: #fff;
  }
  @media screen and (max-width: 1232px) {
    width: auto;
    justify-content: center;
    font-size: 16px;
  }
}
@mixin button-white {
  padding: 18px 32px;
  border-radius: 32px;
  background: #fff;
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  display: block;
  width: fit-content;
  @media screen and (max-width: 1232px) {
    width: 100%;
    font-size: 16px;
  }
}
@mixin button_sheer {
  padding: 15px 24px 15px 24px;
  border-radius: 30px;
  border: 1px solid $grey;
  background-color: #fff;
  font-size: 20px;
  font-weight: 500;
  @media screen and (max-width: 1232px) {
    padding: 8px 12px;
    font-size: 16px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: $black;
  font-family: 'Gilroy-Regular';
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

input[type='radio'] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: $yellow;
  width: 1.3em;
  height: 1.3em;
  border: 0.1em solid $grey;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type='radio']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);

  background-color: $yellow;
}

// input[type='radio']:focus {
//   outline: max(2px, 0.15em) solid currentColor;
//   outline-offset: max(2px, 0.15em);
// }

input[type='radio']:checked::before {
  transform: scale(1);
}
input[type='radio']:checked {
  border: 0.1em solid $yellow;
}

ol {
  list-style: none;
  counter-reset: li;
}
li:before {
  counter-increment: li;
  content: counters(li, '.') '. ';
}

.warning {
  background-color: red;
  color: #fff;
}

.container {
  width: 1255px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 60px;
  &__head {
    &__title {
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      text-align: center;
      font-family: Gilroy-ExtraBold;
      width: 940px;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    &__subtitle {
      font-size: 24px;
      font-weight: 900;
      line-height: 36px;
      text-align: center;
    }
  }
}

.flex {
  display: flex;
}
.flex_wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex_wrap_align-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.flex_wrap_spacebetween {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button {
  &_green {
    @include button;
    background-color: $green;
    display: block;
  }
  &_hover {
    &_tg {
      @include button-hover-tg();
    }
  }
  &_sheer {
    @include button_sheer;
    &_active {
      @include button_sheer;
      background-color: $green_light;
      border: 2px solid $green;
    }
  }
  &_white {
    &_green {
      @include button-white();
      color: $green;
      &:hover {
        background-color: $green;
        color: #fff;
      }
    }
    &_blue {
      @include button-white();
      color: $blue_75;
      &:hover {
        background-color: $blue_75;
        color: #fff;
      }
    }
  }
}
.margin-0-auto {
  margin: 0 auto;
}

@media screen and (max-width: 1264px) {
  .container {
    width: 100%;
  }
  .section {
    gap: 24px;
    &__head {
      &__title {
        font-size: 24px;
        line-height: 28px;
      }
      &__subtitle {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
