@import 'colors.scss';
@mixin link-green {
  padding: 18px 32px;
  border-radius: 32px;
  border: none;
  color: $white;
  font-size: 20px;
  font-weight: 700;
  width: fit-content;
  display: block;
  background-color: $green;
  text-align: center;
}
@mixin link-sheer-green {
  border-radius: 32px;
  padding: 9px 24px;
  border: 2px solid $green;
  color: $green;
  font-size: 16px;
  font-weight: 900;
  font-family: Gilroy-ExtraBold;
  &:hover {
    background-color: $green;
    color: $white;
  }
}
