@import '@/style/colors.scss';
.slide {
  border-radius: 20px;
  background-color: $grey-bg;
  padding: 72px 70px 72px 70px;
  &__content {
    display: flex;
    column-gap: 40px;
    &__info {
      width: 100%;
      &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
        &__wrap {
          display: flex;
          align-items: center;
          column-gap: 16px;
          &__name {
            font-family: 'Gilroy-Bold';
            font-size: 24px;
            line-height: 24px;
            letter-spacing: 0.02em;
          }
        }
        &__public {
          font-size: 20px;
          font-weight: 900;
          line-height: 24px;
          opacity: 30%;
        }
        &__mobile {
          display: none;
        }
      }
      &__comment {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        &__text {
          font-size: 20px;
          font-weight: 500;
          line-height: 32px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .slide {
    padding: 40px 20px;
    &__content {
      flex-direction: column;
      &__img {
        margin: 0 auto;
        width: 120px;
        height: 120px;
        margin-bottom: 16px;
      }
      &__info {
        &__head {
          flex-direction: column;
          &__wrap {
            &__name {
              font-size: 20px;
              line-height: 20px;
              letter-spacing: 0.02em;
              text-align: center;
              margin-bottom: 24px;
            }
            &__stars {
              display: none;
            }
          }
          &__public {
            display: none;
          }
          &__mobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            &__public {
              font-weight: 900;
              opacity: 30%;
              font-size: 16px;
              line-height: 20px;
            }
          }
        }
        &__comment {
          &__text {
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }
  }
}
