@import '@/style/colors.scss';
@import '@/style/mixins.scss';
.block {
  display: block;
}
.cover {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  &__info {
    width: 495px;
    &__head {
      font-size: 56px;
      font-weight: 900;
      line-height: 64px;
      margin-bottom: 45px;
      font-family: 'Gilroy-Bold';
      &_green {
        font-family: 'Gilroy-Bold';
        color: $green;
      }
    }
    &__text {
      font-size: 24px;
      font-weight: 500;
      line-height: 36px;
      margin-bottom: 60px;
    }
    &__req {
      @include link-green;
      &_mobile {
        @include link-green;
        display: none;
      }
    }
  }
  &__img {
    width: 656px;
    height: 675px;
    background-image: url('/img/pages/for-psychologists/cover.png');
    background-repeat: no-repeat;
    background-size: contain;
    &_0 {
      object-fit: cover;
      width: 120px;
      height: 120px;
      border-radius: 80px;
      box-shadow: 10px 25px 40px 0px #1d304e26;
      border: 4px solid $green_30;
      position: relative;
      top: 80px;
      left: 72px;
    }
    &_1 {
      object-fit: cover;
      width: 90px;
      height: 90px;
      border-radius: 50px;
      box-shadow: 10px 25px 40px 0px #1d304e26;
      border: 4px solid $yellow_30;
      position: relative;
      top: 275px;
      left: -5px;
    }
    &_2 {
      object-fit: cover;
      width: 135px;
      height: 135px;
      border-radius: 100px;
      box-shadow: 10px 25px 40px 0px #1d304e26;
      border: 4px solid $blue_10;
      position: relative;
      top: 453px;
      left: -183px;
    }
    &_3 {
      object-fit: cover;
      width: 80px;
      height: 80px;
      border-radius: 50px;
      border-radius: 100px;

      box-shadow: 10px 25px 40px 0px #1d304e26;
      border: 4px solid $blue_10;
      position: relative;
      top: -45px;
      left: 29px;
    }
    &_4 {
      object-fit: cover;
      width: 85px;
      height: 85px;
      border-radius: 50px;

      box-shadow: 10px 25px 40px 0px #1d304e26;
      border: 4px solid $blue_10;
      position: relative;
      top: 80px;
      left: 81px;
    }
    &_5 {
      object-fit: cover;
      width: 115px;
      height: 115px;
      border-radius: 100px;

      box-shadow: 10px 25px 40px 0px #1d304e26;
      border: 4px solid $green_30;
      position: relative;
      top: 371px;
      left: -115px;
    }
    &_6 {
      object-fit: cover;
      width: 75px;
      height: 75px;
      border-radius: 50px;

      box-shadow: 10px 25px 40px 0px #1d304e26;
      border: 4px solid $blue_10;
      position: relative;
      top: 405px;
      left: 295px;
    }
    &_7 {
      object-fit: cover;
      width: 100px;
      height: 100px;
      border-radius: 50px;
    }
  }
}
@media screen and (max-width: 1185px) {
  .cover {
    flex-direction: column;
    &__info {
      &__req {
        display: none;
        &_mobile {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 690px) {
  .cover {
    &__info {
      width: auto;
      &__head {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 16px;
      }
      &__text {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 24px;
      }
      &__req {
        &_mobile {
          font-size: 16px;
          padding: 16px;
        }
      }
    }
    &__img {
      width: 320px;
      height: 317px;
      &_0 {
        border: 2px solid $green_30;
        width: 60px;
        height: 60px;
        top: 34px;
        left: 33px;
      }
      &_1 {
        border: 2px solid $yellow_30;
        width: 45px;
        height: 45px;
        top: 125px;
        left: -6px;
      }
      &_2 {
        border: 2px solid $blue_30;
        width: 70px;
        height: 70px;
        top: 206px;
        left: -96px;
      }
      &_3 {
        border: 2px solid $blue_30;
        width: 38px;
        height: 38px;
        top: -27px;
        left: 0px;
      }
      &_4 {
        border: 2px solid $blue_30;
        width: 45px;
        height: 45px;
        top: 35px;
        left: 20px;
      }
      &_5 {
        border: 2px solid $green_30;
        width: 55px;
        height: 55px;
        top: 170px;
        left: -75px;
      }
      &_6 {
        border: 2px solid $blue_30;
        width: 35px;
        height: 35px;
        top: 180px;
        left: 138px;
      }
    }
  }
}
