@import '@/style/colors.scss';
.val {
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 60px;
  }
}
@media screen and (max-width: 1232px) {
  .val {
    &__content {
      // padding: 0 16px;
    }
  }
}
@media screen and (max-width: 768px) {
  .val {
    &__content {
      justify-content: space-around;
      row-gap: 24px;
    }
  }
}
