@import '@/style/colors.scss';
.none {
  display: none;
}
.block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 215px;
  &__head {
    display: flex;
    align-items: center;
    gap: 12px;
    &__title {
      font-size: 20px;
      font-family: 'Gilroy-Bold';
      line-height: 24px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    &__item {
      display: flex;
      column-gap: 8px;
      &__radio {
        display: none;
      }
      &__label {
        font-size: 16px;
        line-height: 24px;
        &_fake {
          width: 20px;
          height: 20px;
          border-radius: 50px;
          border: 1px solid $grey;
          &_active {
            width: 24px;
            height: 24px;
            background-image: url('/img/icons/rest/radio-picked.svg');
          }
        }
        &_active {
          font-size: 16px;
          line-height: 24px;
          color: $yellow;
        }
      }
    }
  }
}
