@import '@/style/colors.scss';
@import '@/style/mixins.scss';
@mixin cart($bg, $wh, $bc: #abaeee) {
  background-color: $bg;
  padding-top: 32px;
  padding-bottom: 31px;
  padding-left: 32px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px #1d304e26;
  width: $wh;
  div {
    span {
      border: 1px solid $bc;
    }
  }
  @media screen and (max-width: 1264px) {
    width: 100%;
    padding: 24px 20px 23px 20px;
  }
}
.lay {
  &__themes {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 40px;
  }
  &__item {
    padding: 4px 16px;
    border-radius: 50px;
    background-color: $white;
    border: 1px solid $grey_line;
    &_active {
      padding: 4px 16px;
      border-radius: 50px;
      background-color: $green_10;
      color: $green;
      border: 1px solid $green;
    }
  }
  &__order {
    display: flex;
    align-items: center;
    column-gap: 20px;
    border-bottom: 1px solid $grey_line;
    margin-bottom: 32px;
    &__btn {
      font-family: 'Gilroy-Bold';
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      background-color: $white;
      border: none;
      color: $grey_no_active;
      padding-bottom: 7px;
      &_active {
        font-family: 'Gilroy-Bold';
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        background-color: $white;
        border: none;
        padding-bottom: 7px;
        border-bottom: 2px solid $green;
      }
    }
  }
}
.grid {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 280px;
  counter-reset: div;
  &__item {
    box-shadow: 0px 0px 5px 0px #1d304e26;
    border-radius: 50px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 35px;
    background-color: #f5f6f0;
    &__themes {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin-bottom: 16px;
      &__item {
        padding: 0 12px;
        border-radius: 50px;
        font-size: 12px;
        font-weight: 900;
        line-height: 24px;
        border: 1px solid $green;
      }
    }
    &:nth-child(2n) {
      background-color: $blue_10;
      .grid__item__themes__item {
        border: 1px solid $blue;
      }
    }
    &:nth-child(2n + 1) {
      background-color: $yellow_10;
      .grid__item__themes__item {
        border: 1px solid $yellow_75;
      }
    }
    &:nth-child(4n) {
      background-color: #f5f6f0;
      .grid__item__themes__item {
        border: 1px solid $green;
      }
    }
    &:nth-child(4n + 1) {
      background-color: $green_10;
      .grid__item__themes__item {
        border: 1px solid $green;
      }
    }
    &:nth-child(6n) {
      background-color: $blue_10;
      .grid__item__themes__item {
        border: 1px solid $blue;
      }
    }
    &:nth-child(7n) {
      grid-column: auto / span 2;
      padding-bottom: 39px;
      padding-right: 48px;
      background-color: $pink_10;
      .grid__item__themes__item {
        border: 1px solid $pink_75;
      }
    }
    &:nth-child(7n + 1) {
      grid-column: auto / span 2;
      padding-bottom: 39px;
      padding-right: 48px;
      background-color: $green_10;
      .grid__item__themes__item {
        border: 1px solid $green;
      }
    }
    &:nth-child(9n) {
      background-color: $blue_10;
      .grid__item__themes__item {
        border: 1px solid $blue;
      }
    }
    &:nth-child(10n) {
      background-color: $pink_10;
      .grid__item__themes__item {
        border: 1px solid $pink_75;
      }
    }
    &:nth-child(11n) {
      background-color: #f5f6f0;
      .grid__item__themes__item {
        border: 1px solid $green;
      }
    }
    &:nth-child(12n) {
      background-color: $green_10;
      .grid__item__themes__item {
        border: 1px solid $green;
      }
    }
    &:nth-child(13n) {
      background-color: $blue_10;
      .grid__item__themes__item {
        border: 1px solid $blue;
      }
    }
    &:nth-child(14n) {
      grid-column: auto / span 2;
      padding-bottom: 39px;
      padding-right: 48px;
      background-color: $yellow_10;
      .grid__item__themes__item {
        border: 1px solid $yellow_75;
      }
    }
    &:before {
      counter-increment: div;
      // content: counter(div);
      margin: auto;
      font-size: 40px;
    }
    &__head {
      font-family: 'Gilroy-Bold';
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 24px;
    }
    &__text {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 24px;
      &__more {
        color: $green;
        font-weight: 700;
      }
    }
  }
}

.que {
  padding-bottom: 100px;
  &__head {
    font-family: 'Gilroy-Bold';
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 40px;
  }
  &__order {
    display: flex;
    align-items: center;
    column-gap: 20px;
    border-bottom: 1px solid $grey_line;
    margin-bottom: 32px;
    &__btn {
      font-family: 'Gilroy-Bold';
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      background-color: $white;
      border: none;
      color: $grey_no_active;
      padding-bottom: 7px;
    }
  }
  &__themes {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 40px;
    &__btn {
      padding: 4px 20px;
      border-radius: 50px;
      background-color: $white;
      border: 1px solid $grey_line;
      font-size: 16px;
      font-weight: 900;
      line-height: 24px;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 60px;
    column-gap: 24px;
    margin-bottom: 65px;
    &__item {
      &__answer {
        font-size: 16px;
        font-weight: 900;
        line-height: 24px;
      }
      &__link {
        font-family: 'Gilroy-Bold';
        font-size: 16px;
        line-height: 24px;
        color: $green;
      }
    }
  }
  &__more {
    @include link-sheer-green;
    padding: 12px 65px;
    margin: 0 auto;
    margin-top: 60px;
  }
}
@media screen and (max-width: 768px) {
  .que {
    padding-bottom: 60px;
    &__head {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 28px;
    }
    &__order {
      margin-bottom: 24px;
      &__btn {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.04em;
      }
    }
    &__themes {
      margin-bottom: 24px;
      &__btn {
        padding: 6px 16px;
        font-size: 12px;
        line-height: 12px;
      }
    }
    &__content {
      row-gap: 32px;
      &__item {
        &__answer {
          font-size: 14px;
          line-height: 20px;
        }
        &__link {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
  .lay {
    &__themes {
      // display: flex;
      // flex-wrap: wrap;
      // gap: 8px;
      // margin-bottom: 40px;
      display: block;
      // gap: 8px;
      overflow: auto;
      white-space: nowrap;
    }
    &__item {
      margin-right: 10px;
      &_active {
        margin-right: 10px;
      }
    }
    &__order {
      // display: flex;
      // align-items: center;
      // column-gap: 20px;
      // border-bottom: 1px solid $grey_line;
      // margin-bottom: 32px;
      display: block;
      // gap: 8px;
      overflow: auto;
      white-space: nowrap;
      &__btn {
        margin-left: 5px;
        margin-right: 10px;
        &_active {
          margin-left: 5px;
          margin-right: 10px;
        }
      }
    }
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
    &__item {
      &__themes {
        margin-bottom: 12px;
      }
      &__head {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
      }
      &:nth-child(7n) {
        grid-column: auto / span 1;
      }
      &:nth-child(7n + 1) {
        grid-column: auto / span 1;
      }
      &:nth-child(14n) {
        grid-column: auto / span 1;
      }
    }
  }
}
